@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthProvider
@inject CapituloZero.Web.Auth.ITokenStore TokenStore

<AuthorizeView>
    <Authorized>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="bi bi-person-circle"></span> Conta
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" @onclick="Logout">Logout</a></li>
            </ul>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="bi bi-person-circle"></span> Conta
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/login">Login</a></li>
                <li><a class="dropdown-item" href="/register">Registrar</a></li>
            </ul>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    private void Logout()
    {
        TokenStore.SetToken(null);
        if (AuthProvider is CapituloZero.Web.Auth.JwtAuthenticationStateProvider jwtAuth)
        {
            jwtAuth.NotifyUserLogout();
        }
        Navigation.NavigateTo("/login");
    }
}
