@page "/Teste"
<h3>Teste</h3>

@using Microsoft.AspNetCore.Authorization

<AuthorizeView>
    <Authorized>
        <MudText>voce esta logado</MudText>
    </Authorized>
    <NotAuthorized>
        <MudText>voce ta fora</MudText>
    </NotAuthorized>
</AuthorizeView>
@code {
    
}