@page "/"

<PageTitle>Home</PageTitle>

<h1>Home</h1>

<div class="mt-4">
	<NavLink class="btn btn-outline-primary me-2" href="/login">Login</NavLink>
	<NavLink class="btn btn-outline-secondary" href="/register">Register</NavLink>
</div>

Welcome to your new app.
